<form [formGroup]="signInForm" (ngSubmit)="submit()">
  <h1>Sign In</h1>

  <section>
    <label for="email">
      Email:
      <input
        type="text"
        formControlName="email"
        id="email"
        name="email"
        type="email"
        placeholder=" "
        autocomplete="username"
        autofocus
      />
    </label>
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="error-label"
    >
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
      <div *ngIf="email.errors.email">
        Must be valid Email address.
      </div>
    </div>
  </section>
  <section>
    <button
      id="toggle-password"
      type="button"
      (click)="togglePassword()"
      aria-label="Show password as plain text. Warning: this will display your password on the screen."
    >
      {{ passwordShowToggle === "password" ? "Show" : "Hide" }} password
    </button>
    <label for="current-password">
      Password:
      <input [type]="passwordShowToggle" formControlName="password" minlength="8" />
    </label>
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="error-label"
    >
      <div *ngIf="password.errors.required">
        password is required.
      </div>
      <div *ngIf="password.errors.minLength">
        Password must be 8 character or more.
      </div>
    </div>
    <div id="password-constraints">
      Eight or more characters, with at least one&nbsp;lowercase and one
      uppercase letter.
    </div>
  </section>

  <button id="signin" type="submit" [disabled]="!signInForm.valid">
    Sign in
  </button>
</form>
