<form [formGroup]="signInForm">
  <h1>Sign In</h1>

  <section>
    <label for="email">
      Email:
      <input
        type="text"
        formControlName="email"
        id="email"
        name="email"
        type="email"
        placeholder=" "
        autocomplete="username"
        required
        autofocus
      />
    </label>
  </section>
  <section>
    <button
      id="toggle-password"
      type="button"
      (click)="togglePassword()"
      aria-label="Show password as plain text. Warning: this will display your password on the screen."
    >
      {{ passwordShowToggle === "password" ? "Show" : "Hide" }} password
    </button>
    <label for="current-password">
      Password:
      <input [type]="passwordShowToggle" formControlName="password" />
    </label>
    <div id="password-constraints">Eight or more characters, with at least one&nbsp;lowercase and one uppercase letter.</div>
  </section>

  <button id="signin" [disabled]="!signInForm.valid">Sign in</button>
</form>
